.catalog {
  background-color: @bg-lightest-grey;
  padding: 50px 20px 44px;
}

.catalog__title {
  margin: 0 0 4px;
}

.catalog__subtitle {
  margin: 0;
}

.catalog__form {
  padding: 20px 0 0;
}

.catalog__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 20px;
}
