.footer__wrapper {
  @media (min-width: @desktop-width) {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid @base-secondary;

  @media (min-width: @tablet-width) {
    padding: 40px 20px 9px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-self: flex-start;
  }
}

.footer__logo {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: @base-black;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.footer__logo-image {
  @media (min-width: @tablet-width) {
    width: 170px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__logo-text {
  @media (max-width: @tablet-width-only) {
    display: none;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 160px;

  @media (min-width: @tablet-width) {
    max-width: 510px;
  }

  @media (min-width: @tablet-width) {
    max-width: 285px;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: @base-secondary;
    outline: none;
  }

  &:active {
    background-color: @primary-opacity;
  }
}

.footer__social-icon {
  color: @base-grey;
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
  color: @base-primary;
}

.footer__nav {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
    column-gap: 27px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 318px);
    padding: 0;
    padding-left: 42px;
    gap: 30px;
  }
}

.footer__nav-item {
  padding: 20px;
  border-bottom: 1px solid @base-secondary;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 20px 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 49px 0 20px;
  }
}

.footer__header {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: @base-primary;

  &--contacts {
    margin-bottom: 20px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 4px;
}

.footer__link {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: @base-black;
  padding: 8px 0;

  &--address,
  &--phone {
    text-transform: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: normal;
    padding: 0;
    padding-left: 19px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 13px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../../img/icons/stack.svg#phone");
    }
  }

  &--address {
    margin-bottom: 12px;

    &::before {
      background-image: url("../../img/icons/stack.svg#pin");
    }
  }

  &:hover,
  &:focus {
    outline: none;
    color: @primary-lighter;
  }

  &:active {
    color: @primary-darker;
  }
}

.footer__copyright {
  padding: 20px 20px 30px;

  @media (min-width: @tablet-width) {
    padding: 10px 0 40px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}
