.product-card {
  display: flex;
  flex-direction: column;
  background-color: @base-white;
  padding: 40px 20px 20px;
}

.product-card__image {
  width: 100%;
  margin-bottom: 24px;
}

.product-card__link {
  color: @base-black;
  text-decoration: none;
}

.product-card__name {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}

.product-card__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 16px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  
}