.sort-form__element {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  &--have-milk {
    flex-direction: column;
  }

  &--made-in {
    flex-direction: column;
    margin-bottom: 35px;
  }

  &--sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    &--price {
      height: 130px;
      align-items: flex-start;
    }

    &--sort {
      margin-bottom: 30px;
      grid-column: 1/-1;
      justify-content: flex-end;
    }
  }

  @media (min-width: @desktop-width) {
    &--sort {
      position: absolute;
      right: -1040px;
    }
  }
}

.sort-form__element--disabled .range__bar {
  background-color: @base-grey;
}

.sort-form__element--disabled .range__toggle {
  border-color: @base-grey;
  cursor: auto;

  &:hover::before,
  &:focus::before {
    display: none;
  }
}

.sort-form__element--disabled .sort-form__input-range:disabled {
  border-color: @light-grey;

  &:active {
    color: @base-grey;
  }
}

.sort-form__legend {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 22px;
  padding: 0;

  &--max-price {
    text-align: center;
    align-self: center;
    width: 44px;
    color: @base-grey;
    margin: 0;
  }

  &--sort {
    width: auto;
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;

    &--max-price {
      width: 34px;
    }

    &--sort {
      margin: 0;
      margin-right: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    &--max-price {
      width: 50px;
      margin: 0;
    }
  }
}

.sort-form__range {
  margin-bottom: 25px;
  width: 100%;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-left: 6px;
  }
}

.sort-form__input-range {
  border: 2px solid @primary-lighter;
  border-radius: 4px;
  width: 118px;
  text-align: center;
  padding: 5px 8px;
  font-family: @montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    color: @base-grey;
  }

  &:focus {
    border-color: @primary-darker;
    outline: none;
  }

  &:active {
    color: @base-black;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 93px;

    &--min {
      margin-left: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 134px;
  }
}

.sort-form__input {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  &:last-child {
    margin: 0;
  }
}

.sort-form__radio-mark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid @base-grey;
  border-radius: 50%;
  margin-right: 10px;
}

.sort-form__radio:hover + .sort-form__radio-mark,
.sort-form__radio:focus + .sort-form__radio-mark {
  border-color: @primary-lighter;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @primary-opacity;
  }
}

.sort-form__radio:checked:focus-visible + .sort-form__radio-mark {
  &::before {
    background-color: @primary-opacity;
  }
}

.sort-form__radio:checked + .sort-form__radio-mark {
  border-color: @base-primary;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @base-primary;
  }
}

.sort-form__radio:disabled + .sort-form__radio-mark,
.sort-form__radio:disabled ~ .sort-form__label {
  border-color: @light-grey;
  color: @light-grey;
}

.sort-form__radio:disabled:hover + .sort-form__radio-mark,
.sort-form__radio:disabled:focus + .sort-form__radio-mark {
  &::before {
    display: none;
  }
}

.sort-form__radio:checked:disabled + .sort-form__radio-mark {
  &::before {
    background-color: @light-grey;
  }
}

.sort-form__radio:checked:disabled:hover + .sort-form__radio-mark,
.sort-form__radio:checked:disabled:focus + .sort-form__radio-mark {
  &::before {
    display: block;
  }
}

.sort-form__checkbox-mark {
  display: inline-block;
  width: 42px;
  height: 24px;
  background-color: @base-grey;
  border-radius: 12px;
  margin-right: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: @base-white;
  }
}

.sort-form__checkbox:checked + .sort-form__checkbox-mark {
  background-color: @base-primary;

  &::before {
    left: auto;
    right: 2px;
  }
}

.sort-form__checkbox:hover + .sort-form__checkbox-mark,
.sort-form__checkbox:focus + .sort-form__checkbox-mark {
  border: 2px solid @primary-lighter;
  background-color: @primary-opacity;

  &::before {
    left: 0;
  }
}

.sort-form__checkbox:checked:hover + .sort-form__checkbox-mark,
.sort-form__checkbox:checked:focus + .sort-form__checkbox-mark {
  border: none;
  background-color: @base-primary;

  &::before {
    left: auto;
    right: 2px;
  }
}

.sort-form__checkbox:disabled + .sort-form__checkbox-mark {
  background-color: @light-grey;
}

.sort-form__checkbox:disabled:hover + .sort-form__checkbox-mark,
.sort-form__checkbox:disabled:focus + .sort-form__checkbox-mark {
  border: none;

  &::before {
    left: 2px;
  }
}

.sort-form__checkbox:checked:disabled + .sort-form__checkbox-mark {
  &::before {
    background-color: @base-grey;
  }
}

.sort-form__checkbox:checked:disabled:hover + .sort-form__checkbox-mark,
.sort-form__checkbox:checked:disabled:focus + .sort-form__checkbox-mark {
  &::before {
    left: auto;
    right: 2px;
  }
}

.sort-form__checkbox:disabled ~ .sort-form__label {
  color: @light-grey;
}

.sort-form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: 1/-1;
    padding: 0 180px;
    margin-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    align-items: flex-start;
  }
}

.sort-form__button {
  font-size: 13px;
  padding: 11px 14px;
  width: 100%;

  &--reset {
    font-size: 14px;
    color: @base-primary;
    background-color: @base-white;
    margin-top: 24px;

    &:hover,
    &:focus {
      color: @base-white;
    }

    &:disabled {
      cursor: auto;
      color: @base-white;
      background-color: @light-grey;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    padding: 8px 3px;
    width: auto;

    &--reset {
      margin: 0;
      margin-left: 30px;
      padding: 8px 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
    padding-right: 5px;

    &--reset {
      margin-left: 20px;
      padding: 8px 11px;
    }
  }
}

.sort-form__select {
  font-family: @montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 4px 0 4px 10px;
  color: @base-primary;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  width: 172px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 164px;
    padding: 0;
    margin-right: 6px;
  }

  &:hover,
  &:focus {
    background-color: @base-secondary;
    outline: none;
  }
}
