.swiper .swiper__button {
  top: 23px;
  left: 0;
  width: 20px;
  height: 100%;
  color: @base-primary;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, @base-white 0%, rgba(255, 255, 255, 0) 100%);
    outline: none;
  }

  &:active {
    background: linear-gradient(90deg, @primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    color: @base-grey;
    cursor: auto;
    &:hover,
    &:focus {
      background: transparent;
    }
    
  }

  @media (min-width: @tablet-width) {
    width: 60px;
    top: -72px;
    left: 9px;
  }

  @media (min-width: @desktop-width) {
    top: 22px;
  }
}

.swiper .swiper-button-next {
  left: auto;
  right: 0;

  &:hover,
  &:focus {
    background: linear-gradient(270deg, @base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(270deg, @primary-opacity 0%, rgba(120, 89, 207, 0) 100%);
  }

  @media (min-width: @tablet-width) {
    right: 9px;
  }
}

.swiper-pagination {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 55px;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  background-color: @base-white;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @primary-opacity;
    outline: none;
  }

  &:focus:not(:focus-visible) {
    background-color: @base-primary;
  }

  &:focus-visible {
    background-color: @primary-opacity;
  }

  &:active {
    background-color: @base-primary;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: @base-primary;
}
